.darkBackground {
  background-image: url('https://media.juanjaramillo.tech/fondo-hero-dark-1440.webp');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
  height: 100%;
  min-width: 1400px;
  width: 100%;
  z-index: -1;
}
.lightBackground {
  background-image: url('https://media.juanjaramillo.tech/fondo-hero-light-1440.webp');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
  height: 100%;
  min-width: 1400px;
  width: 100%;
  z-index: -1;
}
